body {
  font-family: "Oswald", sans-serif;
}

/* ==============  Header =============== */

header {
  width: 100%;
  height: 500px;
  background: #0575e6;
  background: -webkit-linear-gradient(
      to right,
      hsla(227, 97%, 24%, 0.705),
      hsla(210, 96%, 46%, 0.671)
    ),
    url(../Jpg/Logos/CodeCraft/Fondo-Codecraft.png);
  background: linear-gradient(
      to right,
      hsla(227, 97%, 24%, 0.705),
      hsla(210, 96%, 46%, 0.589)
    ),
    url(../Jpg/Logos/CodeCraft/Fondo-Codecraft.png);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/* ============================ */
